@font-face {
  font-family: 'iconfont';
  src: url('iconfont/iconfont.eot');
  src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'), url('iconfont/iconfont.woff2') format('woff2'), url('iconfont/iconfont.woff') format('woff'), url('iconfont/iconfont.ttf') format('truetype'), url('iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 25px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 5px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fontColorBlue {
  color: #61d2f7;
}
.el-container {
  width: 100%;
  height: 100vh;
}
.el-container .el-header {
  background-color: #030829;
  color: #fff;
}
.el-container .el-header .left {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  float: left;
}
.el-container .el-header .left .logo {
  float: left;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.el-container .el-header .left .logo img {
  display: inline-block;
}
.el-container .el-header .left .logo h1 {
  display: inline-block;
  margin: 0;
}
.el-container .el-header .left .choose {
  float: right;
}
.el-container .el-header .left .choose a {
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  padding-bottom: 16px;
  margin-left: 20px;
}
.el-container .el-header .left .choose a.router-link-exact-active {
  border-bottom: 4px solid #4b8df8;
}
.el-container .el-header .right {
  height: 100%;
  float: right;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.el-container .el-header .right .el-dropdown-link {
  cursor: pointer;
  color: #fff;
}
.el-container .el-header .right .el-icon-arrow-down {
  font-size: 12px;
}
.el-container .el-main {
  background-color: #081832;
  color: #fff;
  padding-top: 50px;
}
.el-container .el-main marquee {
  position: fixed;
  top: 70px;
  z-index: 99999;
}
.mainbox {
  width: 100%;
  height: 100%;
  min-height: 800px;
  display: flex;
  flex-direction: row;
}
.mainbox .left {
  width: 25%;
  margin-right: 10px;
}
.mainbox .right {
  width: 25%;
  margin-left: 10px;
}
.mainbox .center {
  width: 50%;
  height: 100%;
  box-shadow: 0px 0 55px rgba(255, 255, 255, 0.1) inset;
  position: relative;
  border: 1px solid #034c6a;
}
.mainbox .up {
  width: 100%;
  height: 35%;
  margin-bottom: 10px;
}
.mainbox .down {
  height: calc(65% - 40px);
  margin-top: 40px;
}
.mainbox .title {
  width: 200px;
  height: 35px;
  position: absolute;
  background: #034c6a;
  border-radius: 20px;
  top: -17.5px;
  left: 50%;
  margin-left: -100px;
  line-height: 35px;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainbox .select {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mainbox .select > div {
  margin-bottom: 50px;
}
.mainbox .table {
  width: 100%;
  height: 100%;
  padding-top: 25px;
  overflow: hidden;
}
.mainbox .left-box {
  background-color: transparent;
  width: 25%;
  margin-right: 5px;
}
.mainbox .right-box {
  background-color: transparent;
  width: 75%;
}
.mainbox > div {
  border-radius: 5px;
}
.mainbox > div > div {
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 0 55px rgba(255, 255, 255, 0.1) inset;
  border: 1px solid #034c6a;
}
.mainbox #myChart {
  width: 100%;
  height: 100%;
  border: 0;
}
.mainbox .el-table,
.mainbox .el-table__expanded-cell {
  background-color: transparent;
}
.mainbox .el-table th,
.mainbox .el-table tr {
  background-color: transparent;
}
.mainbox .el-table td,
.mainbox .el-table th.is-leaf,
.mainbox .el-table--border,
.mainbox .el-table--group {
  border-color: transparent !important;
}
.mainbox .el-table--border::after,
.mainbox .el-table--group::after,
.mainbox .el-table::before {
  background-color: transparent !important;
}
.mainbox ::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
.mainbox ::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 3px;
}
.mainbox ::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border: 0;
}
.mainbox .el-button + .el-button {
  margin-left: 0px;
}
.mainbox .el-date-editor .el-range-separator {
  width: 6%;
}
.mainbox .el-table .cell {
  line-height: 1.3;
}
.mainbox .el-table th > .cell {
  color: #61d2f7;
  font-weight: bold;
}
.mainbox .el-pagination {
  font-size: 14px;
}
.mainbox .el-pagination .el-pagination__total,
.mainbox .el-pagination .btn-prev,
.mainbox .el-pagination .btn-next,
.mainbox .el-pagination .el-pager li {
  margin: 0;
  color: #fff;
  background: transparent;
  font-weight: 600;
}
.mainbox .el-pagination .btn-prev,
.mainbox .el-pagination .btn-next {
  padding: 0;
}
.mainbox .el-pagination .el-pagination__jump {
  margin: 0;
}
.mainbox .el-pagination .el-pagination__jump .el-input {
  width: 40px;
}
.mainbox .el-pagination .el-pager li.active {
  color: red;
  cursor: default;
}
.el-dialog__header .el-dialog__title {
  font-size: 18px;
  font-weight: 600;
}
.el-dialog__body {
  display: flex;
  justify-content: center;
}
.selectFont {
  font-size: 16px;
  font-weight: 600;
}
.el-range-separator {
  font-weight: 600;
}
